Source: cryfs
Maintainer: David Steele <steele@debian.org>
Section: utils
Priority: optional
Build-Depends: debhelper-compat (= 13),
               cmake,
               pkg-config,
               librange-v3-dev,
               libspdlog-dev,
               openssl,
               libcurl4-openssl-dev,
               libboost-filesystem-dev,
               libboost-system-dev,
               libboost-chrono-dev,
               libboost-program-options-dev,
               libboost-thread-dev,
               libcrypto++-dev (>= 5.6.4),
               libssl-dev,
               libfuse-dev,
               python3-all,
               python3-versioneer,
Rules-Requires-Root: no
Standards-Version: 4.6.0.1
Vcs-Browser: https://github.com/davesteele/cryfs
Vcs-Git: https://github.com/davesteele/cryfs.git -b debian
Homepage: https://www.cryfs.org/

Package: cryfs
Architecture: linux-any
Depends: fuse,
         ${misc:Depends},
         ${shlibs:Depends}
Description: encrypt your files and store them in the cloud
 CryFS encrypts your files, so you can safely store them anywhere. It works
 well together with cloud services like Dropbox, iCloud, OneDrive and others.
